﻿.errorlist
{
    color: red;
}

#btnSettings
{
    font-size: 16px;
    margin-right: 6px;
}

.navbar-right > a
{
    margin-left: 6px;
} 

.btnLogin:after
{
    content: '|';
    color: rgba(255, 255, 255, .3);
    margin-left: 10px;
    margin-right: 4px;
} 
.btnLogin:last-child:after
{
    content: '';
} 


/* .nav-link
{
  background-color: rgba(255,255,255,0.05);
  margin-left: 6px;
  border-radius: 5px;
  
} */

.navbar-right
{
    margin-left: 12px;
    align-content: center;
}

.div-carousel
{
    border: 1px solid #C8C8F8;
    background: #E8E8E8;
}

#carouselSponsors {
    margin: 10px 0 0 0;
    padding: 10px;
    max-height: 5rem;
}

.inacity-logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron.row {
    padding: 1rem 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 18px;
  width: 18px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 33px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 33px;
  color: black;
}

.carousel-item {
    max-height: 5rem;
}

.carousel-item img {
    max-height: 5rem;
    max-width: 78%;
    margin:auto;
}

.active.active-list-item:not(:first-child) {
    border-top-color: #f19999;
    border-top-width: 1px;
    border-top-style: dashed;
}

.hidden {
    display: none;
}

.language-flag {
    height: 32px;
    width: 32px;
}

.sponsor-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inacity-logo {
    width: 100px;
}

.inacity-brand-logo {
    height: 51px;
}
