﻿.shapefilesdiv
{
     height: 188px; /* 38px default + 150px for 3 files*/
    max-height: 188px;
}

#ulSelectedFiles
{
    height: 150px;
    max-height: 150px;
    overflow:auto;
}

#alertDiv
{
    display: none;
}

.imgErrorText
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

span.badge
{
    top:15px;
}

#lblSelectedFeature
{
    display: none;
}

#btnCancelDrawing
{
    align-self: flex-end;
    justify-self: flex-end;
}

.controlDiv
{
    display: flex;
    direction: row;
    justify-content: flex-start;
}

.labelBtnDiv
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.labelBtnDiv > .btn
{
    margin-top: 0px;
}

.labelBtnDiv > label
{
    margin-bottom: 0px;
}

#divAddressBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#divAddressBar > * {
    margin-right: 5px;
}

#btnImageFilter {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/*#region SliderRegion*/

#changeModeDiv {
    margin-bottom: 10px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 1rem;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px; /* To make it round */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;  /* To make it round */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-ms-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;  /* To make it round */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;  /* To make it round */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*#endregion SliderRegion*/

.mapOverlayText {
    font-family: "Arial", Sans-serif;
    font-size: 2em;
    color: rgba(209,209,209,0.5);
    margin-top: 50%;
}

#mapOverlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.horizontal-padding {
    padding-right: 15px;
    padding-left: 15px;
}

.region-div{
    border-color:#4cff00;
    border-style:dashed;
    border-width:1px;
}

.map-div {
    border-color:#fb6868;
    border-style:dashed;
    border-width:1px;
}
.image-div {
    border-color:#5e66ff;
    border-style:dashed;
    border-width:1px;
}

#imgUrbanPicture
{
    width: 100%;
    height: 523px;
    margin-top: 10px;
}

/*.single-option-btn*/
.btn
{
    margin:1rem 0;
    justify-self: self-end;
    /* align-self: self-end; */
}

.left-column {
    width:50%;
    margin-right:15px;
    margin-bottom:auto;
    padding-bottom:15px;
}
.right-column {
    width:50%;
    margin-left:15px;
    margin-bottom:auto;
    padding-bottom:15px;
}

.text {
   position:  absolute;
   top: 50%;
   left: 0;
   bottom: 0;
   right: 0;
   text-align: center;
   font-size: 20px;
   color: white;
}

#map {
    /*Matches image size*/
    height:523px;
    width: 100%;
    margin-top: 10px;
}

a.dropdown-item{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin:1px;
}

div.dropdown-menu{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding:1px;
    padding-right:3px;
}